.color-tomate {
    color: tomato;
    color: #cccccc;
}

.bg {
    background-image: url(./531726.jpg);
    opacity: 1;
    /* background-color: #cccccc;
    background-color: #cccccc;
    background-image: linear-gradient(red, yellow); */

}